<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
    <a href="about">About</a>
    <a href="blog">Blog</a>
    <a href="http://groups.google.com/g/music_reading_group" target="_blank">Google Group</a>
    <a href="http://youtube.com/channel/UCdrzCFRsIFGw2fiItAk5_Og" target="_blank">Recordings</a>
    <a href="http://docs.google.com/spreadsheets/d/1skb83P8I30XHmjnmyEbPAboy3Lrtavt_jHrD-9Q5U44/edit?usp=sharing" target="_blank">Schedule</a>
    <a href="contribute">Contribute</a>
    <a href="contact">Contact</a>
  </nav>
  <nav class="social-icons">
    {% include social-icons.html %}
  </nav>
</div>
